*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial;
    background:#f4f7fc;
}

.main-container{
    display:flex;
}

/* SIDEBAR */

.sidebar{

    width:260px;

    min-height:100vh;

    background:#111827;

    color:white;

    position:fixed;

    left:0;

    top:0;

    overflow:auto;
}

.logo-area{

    padding:25px;

    border-bottom:1px solid #374151;
}

.logo-area h3{

    font-size:24px;
}

.logo-area p{

    color:#9ca3af;
}

.sidebar ul{

    list-style:none;

    padding:20px;
}

.sidebar ul li{

    margin-bottom:10px;
}

.sidebar ul li a{

    color:white;

    text-decoration:none;

    display:flex;

    align-items:center;

    gap:12px;

    padding:14px;

    border-radius:10px;

    transition:0.3s;
}

.sidebar ul li a:hover{

    background:#1f2937;
}

/* CONTENT AREA */

.content{

    margin-left:260px;

    width:100%;

    min-height:100vh;
}

/* NAVBAR */

.top-navbar{

    background:white;

    padding:18px 25px;

    display:flex;

    justify-content:space-between;

    align-items:center;

    box-shadow:0 2px 10px rgba(0,0,0,0.05);
}

.user-area{

    display:flex;

    align-items:center;

    gap:10px;

    font-size:18px;
}

/* DASHBOARD */

.dashboard-cards{

    padding:25px;
}

.stat-card{

    background:white;

    padding:25px;

    border-radius:18px;

    box-shadow:0 4px 12px rgba(0,0,0,0.06);

    transition:0.3s;
}

.stat-card:hover{

    transform:translateY(-5px);
}

.stat-card h5{

    color:#6b7280;

    margin-bottom:10px;
}

.stat-card h2{

    font-size:32px;
}

/* MOBILE */

@media(max-width:768px){

.sidebar{

    width:100%;

    position:relative;

    min-height:auto;
}

.content{

    margin-left:0;
}

.top-navbar{

    flex-direction:column;

    gap:10px;
}

}

/* AUTH */

.auth-wrapper{

    min-height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    padding:20px;
}

.auth-card{

    width:100%;

    max-width:450px;

    background:white;

    border-radius:20px;

    padding:40px;

    box-shadow:0 10px 30px rgba(0,0,0,0.08);
}

.auth-logo{

    text-align:center;

    margin-bottom:25px;
}

.auth-logo h2{

    font-weight:bold;

    color:#111827;
}

.auth-logo p{

    color:#6b7280;
}

.form-control{

    height:50px;

    border-radius:12px;
}

.btn-theme{

    background:#111827;

    color:white;

    height:50px;

    border-radius:12px;

    width:100%;

    border:none;

    transition:0.3s;
}

.btn-theme:hover{

    background:#1f2937;
}

.auth-link{

    text-align:center;

    margin-top:20px;
}

.alert-box{

    padding:12px;

    border-radius:10px;

    margin-bottom:15px;
}

.alert-danger{

    background:#fee2e2;

    color:#991b1b;
}

.alert-success{

    background:#dcfce7;

    color:#166534;
}

.dark-mode{

background:#111827;

color:white;
}

.dark-mode .card{

background:#1f2937;

color:white;
}

.dark-mode .top-navbar{

background:#1f2937;

color:white;
}